<input 
  type="text" 
  [(ngModel)]="searchTerm" 
  placeholder="Digite o nome ou sobrenome do personagem" 
  class="search-input" 
/>

<button (click)="searchCharacter()" class="search-btn">Pesquisar</button>

<!-- Exibe os personagens após realizar a pesquisa -->
<div class="characters-container" *ngIf="filteredCharacters.length > 0">
  <div class="character-card" *ngFor="let item of filteredCharacters">
    <img [src]="item.image" alt="{{ item.name }}">
    <p>{{ item.name }}</p>
  </div>
</div>

<!-- Mensagem caso não encontre nenhum personagem -->
<p *ngIf="filteredCharacters.length === 0 && searchTerm.trim() !== ''">Nenhum personagem encontrado!</p>
<app-spells-list></app-spells-list>